table{
    border: 1px solid black;
}

th{
    text-align: right;
    font: "Century Gothic", Futura, sans-serif;
    font-size: 30px;
    color: black;
}

button {
    height: 50px;
    width: 50px;
    font-size: 30px;
    color: white;
    background-color: red;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: grid;
    font-size: 15px;
}